<%- include("partials/header"); -%>

<div class="main-div">
    <table class="table-main">
        <tr>
            <td> <a href="/music" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Music</a></td>
        </tr>
        <tr>
            <td> <a href="/videos" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Videos</a></td>
        </tr>
        <tr>
            <td> <a href="/documents" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Documents</a></td>
        </tr>
        <tr>
            <td> <a href="/photos" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Photos</a></td>
        </tr>
    </table>
</div>

<%- include("partials/footer"); -%>