<%- include("partials/header"); -%>

<h1 class="pg-title">videos</h1>

<div>
    <video width="auto" height="240" controls>
        <source src="/vids/<%= listing %>" type="video/mp4">
    </video>
</div>


<%- include("partials/footer"); -%>